*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/vector/header.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fancyBtn {
    background-color: #575084;
    color: white;
    padding: 3px 0px;
    border-radius: 5px;
}